Signature and key do not agree on algorithm type: 1 vs 17, issuer fingerprint doesn't match signer's one

Hi, for a long time on my system, i'm seeing this type of error/warning in thunderbird. Previously i was using Enigmail extension, might be relevant?

I deal with large amount of gpg signed messages, much less with encrypted.

I'd like to understand the underlying issue and debug my system, probably find those "offending emails" that trigger this kind of logs and see if those are malformed, manually ill-crafted or just generated by mail clients/extensions that incorrectly implement RFC or an issue of fetching correct key data from public keyservers.

Is there a way to increase log verbosity or other way, to identify offending messages (and yes, i assume it's about parsing received/sent mail, which might be absolutely wrong) ?

Also I found quite similar issue from 2021 https://github.com/rnpgp/rnp/issues/1478 , but I'm unable to tell if the underlying cause is the same

If I researched correctly, mentioned "algorithm types" , https://stackoverflow.com/a/72175850/492624 , section 9.1 of RFC4880

1 - RSA (Encrypt or Sign) [HAC]
17 - DSA (Digital Signature Algorithm) [FIPS186] [HAC]

Let me know, if there's anything else I could check on my side or what info to provide you with.
Thank you

```
> thunderbird --verbose
INFO  -> [[ ... using verbose mode ... ]]
DEBUG -> call '/usr/lib/thunderbird/thunderbird --name=thunderbird'
[signature_validate() ./src/lib/crypto/signatures.cpp:200] Signature and key do not agree on algorithm type: 1 vs 17
[signature_validate() ./src/lib/crypto/signatures.cpp:200] Signature and key do not agree on algorithm type: 1 vs 17
[validate_sig() ./src/lib/pgp-key.cpp:1996] issuer fingerprint doesn't match signer's one
[signature_validate() ./src/lib/crypto/signatures.cpp:200] Signature and key do not agree on algorithm type: 1 vs 17
[validate_sig() ./src/lib/pgp-key.cpp:1996] issuer fingerprint doesn't match signer's one
[signature_validate() ./src/lib/crypto/signatures.cpp:200] Signature and key do not agree on algorithm type: 1 vs 17
[validate_sig() ./src/lib/pgp-key.cpp:1996] issuer fingerprint doesn't match signer's one
[signature_validate() ./src/lib/crypto/signatures.cpp:200] Signature and key do not agree on algorithm type: 1 vs 17
[validate_sig() ./src/lib/pgp-key.cpp:1996] issuer fingerprint doesn't match signer's one
[signature_validate() ./src/lib/crypto/signatures.cpp:200] Signature and key do not agree on algorithm type: 1 vs 17
[validate_sig() ./src/lib/pgp-key.cpp:1996] issuer fingerprint doesn't match signer's one
[signature_validate() ./src/lib/crypto/signatures.cpp:200] Signature and key do not agree on algorithm type: 1 vs 17
[validate_sig() ./src/lib/pgp-key.cpp:1996] issuer fingerprint doesn't match signer's one
[signature_validate() ./src/lib/crypto/signatures.cpp:200] Signature and key do not agree on algorithm type: 1 vs 17
[validate_sig() ./src/lib/pgp-key.cpp:1996] issuer fingerprint doesn't match signer's one
[signature_validate() ./src/lib/crypto/signatures.cpp:200] Signature and key do not agree on algorithm type: 1 vs 17
[validate_sig() ./src/lib/pgp-key.cpp:1996] issuer fingerprint doesn't match signer's one
[signature_validate() ./src/lib/crypto/signatures.cpp:227] wrong lbits
[validate_sig() ./src/lib/pgp-key.cpp:1996] issuer fingerprint doesn't match signer's one
[validate_sig() ./src/lib/pgp-key.cpp:1996] issuer fingerprint doesn't match signer's one
[signature_validate() ./src/lib/crypto/signatures.cpp:227] wrong lbits
[signed_validate_signature() ./src/librepgp/stream-parse.cpp:808] signer's key not found
[signed_validate_signature() ./src/librepgp/stream-parse.cpp:808] signer's key not found

> thunderbird -V                                                                                                                                      
Thunderbird 128.11.0esr

> gpg --version                                                                                                                                        (base) 
gpg (GnuPG) 2.4.7
libgcrypt 1.11.0
Copyright (C) 2024 g10 Code GmbH
License GNU GPL-3.0-or-later <https://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.

Home: /home/smarek/.gnupg
Supported algorithms:
Pubkey: RSA, ELG, DSA, ECDH, ECDSA, EDDSA
Cipher: IDEA, 3DES, CAST5, BLOWFISH, AES, AES192, AES256, TWOFISH,
        CAMELLIA128, CAMELLIA192, CAMELLIA256
Hash: SHA1, RIPEMD160, SHA256, SHA384, SHA512, SHA224
Compression: Uncompressed, ZIP, ZLIB, BZIP2
```

Yeah, i'd love to isolate triggering data, however given i have like few hundred thousands emails from various signed/encrypted sources, i cannot do that by hand. maybe i can compile some kind of debug version of the RNP and LD_PRELOAD it or something like that?