Failure to process a message with an Armor Header line longer than 64 chars

If a message contains an Armor Header line that is longer than 64 characters, RNP will abort processing the message.

RFC 4880 section 6.2 says:
"there is no limit to the length of Armor Headers"

There is a bug in src_peek_line.
It attempts to obtain pieces of at most 64 bytes by calling src_peek.
Each time it will use the next offset for the destination buffer.

However, src_peek will always start copying from the beginning of the position.
src_peek_line incorrectly assumes that each call will obtain the following part of the buffer.
src_peek_line does not pass an offset for the start of the peeking, and src_peek does not have a parameter to perform a peek at a later position.

As a result, the loop in src_peek_line will repeatedly obtain the first 64 bytes of the line, until the buffer is full, and will never see the end of line character.
Then it fails with:

[armor_parse_headers() src/librepgp/stream-armor.cpp:587] failed to peek line
[init_armored_src() src/librepgp/stream-armor.cpp:663] failed to parse headers


Please provide a failsafe handling of Armor header lines.
If there is any problem with these header lines, I suggest to ignore them silently.

This is a blocker bug. We have a Thunderbird user who cannot read any emails because of this issue.


https://bugzilla.mozilla.org/show_bug.cgi?id=1653651

I'd like to work on a hotfix.

src_peek is called from many places, so extending the parameter list with an offset for the seek isn't an option for a minimal hotfix.

We can use src_peek if we accept that each iteration attempt copies from the beginning.

I'll attach a possible hotfix patch in bugzilla.


@kaie thanks for reporting. @ni4 @dewyatt @rrrooommmaaa anyone have time for a hotfix? Thanks!

@kaie Thanks for reporting, looks like this case is not covered with tests. @ronaldtse  I'll provide a fix soon.